header.header {
    background-color: #fff;
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
}

header.header h1 {
    font-size: 1.8em;
}

header.header i {
    padding-right: 6px;
}

@media(max-width: 730px) {
    .header > p {
        font-size: 16px;
    }
}

@media(max-width: 630px) {
    .header > p {
        font-size: 13px;
    }
}